<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>
    <h1>Add A product</h1>
    <h2>Welcome to Susan's Fashion webstore</h2>
    <form>
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" placeholder="Enter Product Name"></td>
            </tr>
        </table>
    </form>
    <h1>Product List</h1>
    <ul>
        {% for product in products %}
            <li>
                <h2>{{ product.name }}</h2>
                <p>Category: {{ product.category }}</p>
                <p>Description: {{ product.description }}</p>
                <p>Price: ${{ product.price }}</p>
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            </li>
        {% endfor %}
    </ul>
</body>
</html>
